.minute{
    display: grid;
    background-color: aquamarine;
}
.container{
    border: 1px solid black;
    width: 700px;
    height: 350px;
    margin: 6%;
    margin-top: 5%;
    margin-left: 20%;
    padding: 30;
    background-color: white;
}
.inner{
    border: 1px solid black;
}
button{
    /* border: none; */
    padding: 0;
}
.txt{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    height: 250px;
    border-bottom: 1px solid black;
}
.txt #second{
    border-radius: 0px;
    border-left: 1px solid black;

}
.txt textarea{
    border: none;
    resize: none;
    outline: none;
}
.btn{
    grid-column: 1 / -1;
    margin-top: 10;
}
.translate{
    border: none;
    outline: none;
    background-color: midnightblue;
    color: white;
    padding: 10;
    width: 100%;
    font-size: 15px;
}
.menu, li, .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    list-style: none;
    padding: 10px 15px;
}
.menu .icons i{
    width: 50px;
    cursor: pointer;
    font-size: 15px;
}
.menu .icons{
    width: 35%;
}
.menu .tr select{
    border: none;
    outline: none;
    background: none;
}
.menu .tr.from .icons{
    padding-right: 15px;
    border-right: 2px solid black;
}
.menu .tr.to .icons{
    padding-left: 15px;
    border-left: 2px solid black;
}
.menu .exchange{
    cursor: pointer;
    font-size: 18px;
}
/* .menu{
    border: 1px solid black;
    /* grid-column-start: 1;
    grid-column-end: 3; in this case, -1 = 3 because 3 is the column end*/ 
    /*grid-column: 1 / -1; /* -1 will span to the end of column*/
    /* grid-column: span 2.. this takes up 2 columns }*/

@media only screen and (max-width: 1200px) {
    
    .container{
        margin-left: 15%;
    }
}

@media only screen and (max-width: 1024px) {
    
    .container{
        margin-left: 10%;
    }
}
@media only screen and (max-width: 900px) {
    
    .container{
        margin-left: 5%;
    }
}
@media only screen and (max-width: 840px) {
    
    .container{
        margin-left: 5%;
        width: 650px;
    }
}

@media only screen and (max-width: 768px) {
    
    .container{
        margin-left: 10%;
        width: 450px;
        height: 400px;        
    }
    .menu{
        list-style: none;
        padding: 2px 7px;
    }
    .menu .icons i{
        width: 20px;
        cursor: pointer;
        font-size: 10px;
    }
    .menu .icons{
        width: 25%;
    }
}

@media only screen and (max-width: 600px) {
    
    .container{
        margin-left: 8%;
        width: 390px;
        height: 400px;        
    }
    .menu{
        list-style: none;
        padding: 2px 7px;
    }
    .menu .icons i{
        width: 20px;
        cursor: pointer;
        font-size: 10px;
    }
    .menu .icons{
        width: 25%;
    }
}

@media only screen and (max-width: 500px) {
    
    .container{
        margin-left: 7%;
        width: 350px;
        height: 400px;        
    }
    .menu{
        list-style: none;
        padding: 2px 7px;
    }
    .menu .icons i{
        width: 20px;
        cursor: pointer;
        font-size: 10px;
    }
    .menu .icons{
        width: 25%;
    }
}
@media only screen and (max-width: 375px) {
    
    .container{
        margin-left: 8%;
        width: 300px;
        height: 400px;        
    }
    .menu{
        list-style: none;
        padding: 2px 7px;
    }
    .menu .icons i{
        width: 20px;
        cursor: pointer;
        font-size: 10px;
    }
    .menu .icons{
        width: 25%;
    }
}